@font-face {
  font-family: "Seele-1";
  src: url("/public/fonts/Seele-One.otf") format("opentype");
}
@font-face {
  font-family: "Seele-2";
  src: url("/public/fonts/Seele-Two.otf") format("opentype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Seele-1", "Seele-2", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #6e79d7;
}
header {
  width: 100%;
}
header a {
  text-decoration: none;
  color: #6e79d7;
}
main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.content {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-style: solid;
  border-width: 4vw 5vw;
  border-image-source: url("/src/images/screen.svg");
  border-image-slice: 10% 7%;
  background-color: #ffffff;
}
.game-container {
  height: 700px;
  cursor: pointer;
  background-image: url("/src/images/game.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.game-container #shooter-game {
  position: relative;
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* 禁止文字/图片被选中 */
  -webkit-user-drag: none;
  /* 禁止 WebKit 浏览器拖拽 */
}
.game-container #shooter-game .enemy-container {
  width: 100%;
  position: relative;
}
.game-container #shooter-game .enemy-container .enemy {
  position: absolute;
  width: 150px;
  height: 150px;
}
.game-container #shooter-game .enemy-container .enemy#enemy1 {
  top: 0;
  left: 0;
}
.game-container #shooter-game .enemy-container .enemy#enemy2 {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.game-container #shooter-game .enemy-container .enemy#enemy3 {
  top: 0;
  right: 0;
}
.game-container #shooter-game #gun {
  width: 80px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.game-container #shooter-game #next-stage {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #ffffff;
}
.game-container #shooter-game .ripple-wrapper {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  /* 避免装饰元素拦截点击 */
  /* 黄色外圈：快速放大后消失 */
  /* 橙色内圈：稍慢撑到外圈的大小后消失 */
}
.game-container #shooter-game .ripple-wrapper .ripple-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  border: 0.5px solid #fcf23e;
  -webkit-animation: ripple 0.2s ease-out forwards;
          animation: ripple 0.2s ease-out forwards;
}
.game-container #shooter-game .ripple-wrapper .ripple-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(circle, transparent 50%, #f67b29 100%);
  -webkit-animation: ripple 0.3s ease-out forwards;
          animation: ripple 0.3s ease-out forwards;
}
@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
  }
}
