@font-face {
  font-family: "Seele-1";
  src: url("/public/fonts/Seele-One.otf") format("opentype");
}
@font-face {
  font-family: "Seele-2";
  src: url("/public/fonts/Seele-Two.otf") format("opentype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Seele-1", "Seele-2", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #6e79d7;
}
header {
  width: 100%;
}
header a {
  text-decoration: none;
  color: #6e79d7;
}
main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.content {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-style: solid;
  border-width: 4vw 5vw;
  border-image-source: url("/src/images/screen.svg");
  border-image-slice: 10% 7%;
  background-color: #ffffff;
}
footer {
  width: 100%;
  color: #919fe6;
}
