@font-face {
  font-family: "Seele-1";
  src: url("/public/fonts/Seele-One.otf") format("opentype");
}
@font-face {
  font-family: "Seele-2";
  src: url("/public/fonts/Seele-Two.otf") format("opentype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Seele-1", "Seele-2", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #6e79d7;
  background-image: url("/src/images/pattern.svg");
}
header {
  width: 100%;
  background-color: #6e79d7;
}
header a {
  text-decoration: none;
  color: #ffffff;
}
main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.content {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-style: solid;
  border-width: 4vw 5vw;
  border-image-source: url("/src/images/screen.svg");
  border-image-slice: 10% 7%;
  background-color: #ffffff;
}
footer {
  width: 100%;
  color: #6e79d7;
  background-color: #ffffff;
  padding: 20px;
}
.room-container {
  position: relative;
  padding: 0;
}
.room-container .room-background {
  width: 100%;
}
.room-container .live-streaming {
  position: absolute;
  width: 10vw;
  top: 1vw;
  left: 2vw;
}
.room-container .tablet-container {
  position: absolute;
  top: 16vw;
  left: 15vw;
}
.room-container .tablet-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 6vw;
}
.room-container .tablet-container h2 {
  position: absolute;
  padding: 0.1em 0.4em;
  margin: 0;
  font-size: 1vw;
  white-space: nowrap;
  color: #6e79d7;
  background-color: #ffffff;
  visibility: hidden;
  top: 0vw;
  left: -0.8vw;
}
.room-container .tablet-container:hover img {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.room-container .tablet-container:hover h2 {
  visibility: visible;
}
.room-container .about-container {
  position: absolute;
  top: 2vw;
  left: 50vw;
}
.room-container .about-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 10vw;
}
.room-container .about-container h2 {
  position: absolute;
  padding: 0.1em 0.4em;
  margin: 0;
  font-size: 1vw;
  white-space: nowrap;
  color: #6e79d7;
  background-color: #ffffff;
  visibility: hidden;
  top: 4vw;
  left: 0vw;
}
.room-container .about-container:hover img {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.room-container .about-container:hover h2 {
  visibility: visible;
}
