@import "global.less";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@125,200..900&family=Orbitron:wght@400..900&display=swap");

@thin-width: 1px;
@thick-border-base: 1.8px solid;
@thin-border-base: @thin-width solid;
@big-square-size: 8px;
@small-square-size: 6px;
@console-padding: 15px;
@square-font: "Orbitron", sans-serif;
@rounded-font: "Inconsolata", monospace;
@success-blue: #2ea6f5;
@system-yellow: #ffdc55;
@error-red: #ef2d2a;
@error-gradient: linear-gradient(@error-red 30%, #ba2320 70%);

.notrette-container {
  h2 {
    background-color: @light;
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 40px;

    .title {
      background-color: @white;
      padding: 0 12px;
      font-family: @square-font;
    }
  }

  .question-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border-top: @thick-border-base @primary;
    border-left: @thin-border-base @primary;
    border-right: @thin-border-base @primary;

    /* 大方块 */
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: @big-square-size;
      height: @big-square-size;
      top: -12px;
      background-color: @dark;
    }
    &::before {
      left: calc(@thin-width * -1); //和边框贴齐
    }
    &::after {
      right: calc(@thin-width * -1);
    }

    /* 折线 */
    #decoration-line {
      position: absolute;
      top: 10px;
      width: 97%;
      height: 53%;
      border-left: @thin-border-base @primary;
      border-right: @thin-border-base @primary;
      border-bottom: @thin-border-base @primary;

      /* 小方块 */
      &::before,
      &::after {
        position: absolute;
        content: "";
        top: calc(@small-square-size / -2);
        display: inline-block;
        width: @small-square-size;
        height: @small-square-size;
        background-color: @primary;
      }
      &::before {
        left: calc((@small-square-size + @thin-width) / -2);
      }
      &::after {
        right: calc((@small-square-size + @thin-width) / -2);
      }
    }

    .question {
      position: relative; // 置于装饰线之上
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
      background-color: @white;

      &.top {
        font-size: 15px;
        letter-spacing: 1px;
        margin: 0 20px;
        font-family: @rounded-font;
        color: @light;
      }

      &.bottom {
        font-size: 30px;
        font-family: @square-font;

        /* 小长方 */
        &::before,
        &::after {
          content: "";
          display: inline-block;
          width: 5px;
          height: 15px;
          background-color: @primary;
        }
        &::before {
          margin-right: 10px;
        }
        &::after {
          margin-left: 10px;
        }
      }
    }
  }

  .console-container {
    position: relative;
    height: 220px;
    margin: 0;
    padding: @console-padding;
    border: @thick-border-base @primary;

    .console {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 20px;

      label {
        margin-bottom: 15px;
        font-family: @square-font;
        color: @dark;
      }

      #answer {
        width: 100%;
        height: 150px;
        border: none;
        outline: none; //去除focus时边框
        resize: none;
        letter-spacing: 1px;
        font-size: 23px;
        font-weight: 300;
        font-family: @rounded-font;
        color: @primary;
        overflow-y: scroll; //溢出部分可滑动
        /* scroll bar非表示 */
        -ms-overflow-style: none; //IE・Edge
        scrollbar-width: none; //Firefox
        &::-webkit-scrollbar {
          display: none; //Chrome・Safari
        }
      }
    }

    .output {
      p {
        margin: 0;
      }

      &.fail {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p.error-txt {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 100px;
          font-weight: 900;
          line-height: 1; //避免多余行高
          font-family: @square-font;
          border-top: @thin-border-base @error-red;
          border-bottom: @thin-border-base @error-red;
          /* 实现error颜色渐变 */
          color: transparent;
          background-clip: text;
          background-image: @error-gradient;

          .bracket {
            color: @error-red;
            font-weight: 500;
            font-size: 120px;

            /* 红小方块 */
            &::before,
            &::after {
              position: absolute;
              content: "";
              width: @small-square-size;
              height: @small-square-size;
              background-color: @error-red;
            }
            &.left::before,
            &.left::after {
              top: calc((@small-square-size + @thin-width) / -2);
            }
            &.right::before,
            &.right::after {
              bottom: calc((@small-square-size + @thin-width) / -2);
            }
            &::before {
              left: 0px;
            }
            &::after {
              right: 0px;
            }
          }
        }

        p:last-child {
          font-family: @square-font;
          color: @system-yellow;
          font-size: 25px;
        }
      }

      &.success {
        position: absolute;
        top: @console-padding;
        bottom: @console-padding;
        left: @console-padding;
        right: @console-padding;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p:first-child {
          font-size: 35px;
          font-weight: 500;
          font-family: @square-font;
          color: @success-blue;
          border-top: @thick-border-base @primary;
          border-bottom: @thick-border-base @primary;
          padding-top: 10px;
          padding-bottom: 10px;
          /* 调整文字间距以对齐p长度 */
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        p:last-child {
          position: relative;
          top: 12px;
          font-size: 20px;
          color: @system-yellow;
        }
      }

      &.ending {
        position: absolute;
        top: -58px;
        bottom: -58px;
        left: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        font-weight: 500;
        font-family: @square-font;
        color: @success-blue;
        background-image: url("@{images}/console-ending.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }

    .hide {
      display: none !important;
    }
  }

  .footnote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 60px;
    font-family: @square-font;

    span:last-child {
      font-size: 10px;
    }
  }
}
