@font-face {
  font-family: "Seele-1";
  src: url("/public/fonts/Seele-One.otf") format("opentype");
}
@font-face {
  font-family: "Seele-2";
  src: url("/public/fonts/Seele-Two.otf") format("opentype");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Seele-1", "Seele-2", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  color: #6e79d7;
}
header {
  width: 100%;
}
header a {
  text-decoration: none;
  color: #6e79d7;
}
main {
  flex: 1;
}
.content {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-style: solid;
  border-width: 4vw 5vw;
  border-image-source: url("/src/images/screen.svg");
  border-image-slice: 10% 7%;
  background-color: #ffffff;
}
footer {
  width: 100%;
  color: #919fe6;
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 200;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7LppwU8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7Lpp9s8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7Lpp4U8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7Lpp7c8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7Lpp1s7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7Lpp2I7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 800;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7LppwU7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7Lppyw7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v35/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6xpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v35/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyKS6xpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v35/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyxSmxpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v35/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_Cmxpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v35/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nymymxpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v35/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nysimxpg.ttf) format('truetype');
}
.notrette-container h2 {
  background-color: #919fe6;
  font-weight: normal;
  font-size: 20px;
  margin: 0 0 40px;
}
.notrette-container h2 .title {
  background-color: #ffffff;
  padding: 0 12px;
  font-family: "Orbitron", sans-serif;
}
.notrette-container .question-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  border-top: 1.8px solid #6e79d7;
  border-left: 1px solid #6e79d7;
  border-right: 1px solid #6e79d7;
  /* 大方块 */
  /* 折线 */
}
.notrette-container .question-container::before,
.notrette-container .question-container::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: -12px;
  background-color: #324599;
}
.notrette-container .question-container::before {
  left: calc(-1px);
}
.notrette-container .question-container::after {
  right: calc(-1px);
}
.notrette-container .question-container #decoration-line {
  position: absolute;
  top: 10px;
  width: 97%;
  height: 53%;
  border-left: 1px solid #6e79d7;
  border-right: 1px solid #6e79d7;
  border-bottom: 1px solid #6e79d7;
  /* 小方块 */
}
.notrette-container .question-container #decoration-line::before,
.notrette-container .question-container #decoration-line::after {
  position: absolute;
  content: "";
  top: calc(-3px);
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #6e79d7;
}
.notrette-container .question-container #decoration-line::before {
  left: calc(-3.5px);
}
.notrette-container .question-container #decoration-line::after {
  right: calc(-3.5px);
}
.notrette-container .question-container .question {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  background-color: #ffffff;
}
.notrette-container .question-container .question.top {
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0 20px;
  font-family: "Inconsolata", monospace;
  color: #919fe6;
}
.notrette-container .question-container .question.bottom {
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
  /* 小长方 */
}
.notrette-container .question-container .question.bottom::before,
.notrette-container .question-container .question.bottom::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 15px;
  background-color: #6e79d7;
}
.notrette-container .question-container .question.bottom::before {
  margin-right: 10px;
}
.notrette-container .question-container .question.bottom::after {
  margin-left: 10px;
}
.notrette-container .console-container {
  position: relative;
  height: 220px;
  margin: 0;
  padding: 15px;
  border: 1.8px solid #6e79d7;
}
.notrette-container .console-container .console {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}
.notrette-container .console-container .console label {
  margin-bottom: 15px;
  font-family: "Orbitron", sans-serif;
  color: #324599;
}
.notrette-container .console-container .console #answer {
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  resize: none;
  letter-spacing: 1px;
  font-size: 23px;
  font-weight: 300;
  font-family: "Inconsolata", monospace;
  color: #6e79d7;
  overflow-y: scroll;
  /* scroll bar非表示 */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.notrette-container .console-container .console #answer::-webkit-scrollbar {
  display: none;
}
.notrette-container .console-container .output {
  visibility: hidden;
}
.notrette-container .console-container .output p {
  margin: 0;
}
.notrette-container .console-container .output.fail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.notrette-container .console-container .output.fail p.error-txt {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 100px;
  font-weight: 900;
  line-height: 1;
  font-family: "Orbitron", sans-serif;
  border-top: 1px solid #ef2d2a;
  border-bottom: 1px solid #ef2d2a;
  /* 实现error颜色渐变 */
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#ef2d2a 30%, #ba2320 70%);
}
.notrette-container .console-container .output.fail p.error-txt .bracket {
  color: #ef2d2a;
  font-weight: 500;
  font-size: 120px;
  /* 红小方块 */
}
.notrette-container .console-container .output.fail p.error-txt .bracket::before,
.notrette-container .console-container .output.fail p.error-txt .bracket::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ef2d2a;
}
.notrette-container .console-container .output.fail p.error-txt .bracket.left::before,
.notrette-container .console-container .output.fail p.error-txt .bracket.left::after {
  top: calc(-3.5px);
}
.notrette-container .console-container .output.fail p.error-txt .bracket.right::before,
.notrette-container .console-container .output.fail p.error-txt .bracket.right::after {
  bottom: calc(-3.5px);
}
.notrette-container .console-container .output.fail p.error-txt .bracket::before {
  left: 0px;
}
.notrette-container .console-container .output.fail p.error-txt .bracket::after {
  right: 0px;
}
.notrette-container .console-container .output.fail p:last-child {
  font-family: "Orbitron", sans-serif;
  color: #ffdc55;
  font-size: 25px;
}
.notrette-container .console-container .output.success {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notrette-container .console-container .output.success p:first-child {
  font-size: 35px;
  font-weight: 500;
  font-family: "Orbitron", sans-serif;
  color: #2ea6f5;
  border-top: 1.8px solid #6e79d7;
  border-bottom: 1.8px solid #6e79d7;
  padding-top: 10px;
  padding-bottom: 10px;
  /* 调整文字间距以对齐p长度 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notrette-container .console-container .output.success p:last-child {
  position: relative;
  top: 12px;
  font-size: 20px;
  color: #ffdc55;
}
.notrette-container .console-container .output.ending {
  position: absolute;
  top: -58px;
  bottom: -58px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 500;
  font-family: "Orbitron", sans-serif;
  color: #2ea6f5;
  background-image: url("/src/images/console-ending.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.notrette-container .footnote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 60px;
  font-family: "Orbitron", sans-serif;
}
.notrette-container .footnote span:last-child {
  font-size: 10px;
}
