@font-face {
  font-family: "Seele-1";
  src: url("/public/fonts/Seele-One.otf") format("opentype");
}
@font-face {
  font-family: "Seele-2";
  src: url("/public/fonts/Seele-Two.otf") format("opentype");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Seele-1", "Seele-2", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  color: #6e79d7;
}
header {
  width: 100%;
}
header a {
  text-decoration: none;
  color: #6e79d7;
}
main {
  flex: 1;
}
.content {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-style: solid;
  border-width: 4vw 5vw;
  border-image-source: url("/src/images/screen.svg");
  border-image-slice: 10% 7%;
  background-color: #ffffff;
}
footer {
  width: 100%;
  color: #919fe6;
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 200;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7LppwU8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7Lpp9s8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7Lpp4U8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7Lpp7c8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7Lpp1s7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7Lpp2I7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 800;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7LppwU7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  font-stretch: expanded;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v37/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmMQLYxYWI2qfdm7Lppyw7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v35/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6xpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v35/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyKS6xpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v35/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyxSmxpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v35/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_Cmxpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v35/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nymymxpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v35/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nysimxpg.ttf) format('truetype');
}
.notrette-container h2 {
  background-color: #919fe6;
  font-weight: normal;
  font-size: clamp(10px, 2.3vw, 20px);
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.9em;
  margin: 0 0 2em;
}
.notrette-container h2 .title {
  background-color: #ffffff;
  padding: 0 0.6em;
}
.notrette-container .question-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  border-top: clamp(1.2px, 0.2vw, 1.8px) solid #6e79d7;
  border-left: 1px solid #6e79d7;
  border-right: 1px solid #6e79d7;
  /* 大方块 */
}
.notrette-container .question-container::before,
.notrette-container .question-container::after {
  position: absolute;
  content: "";
  width: clamp(4px, 0.7vw, 8px);
  height: clamp(4px, 0.7vw, 8px);
  top: clamp(-13px, -1.2vw, -6px);
  background-color: #324599;
}
.notrette-container .question-container::before {
  left: calc(-1px);
}
.notrette-container .question-container::after {
  right: calc(-1px);
}
.notrette-container .console-container {
  position: relative;
  margin: 0;
  padding: clamp(5px, 1vw, 15px);
  border: clamp(1.2px, 0.2vw, 1.8px) solid #6e79d7;
}
.notrette-container .console-container .console {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.notrette-container .console-container .console .label {
  font-size: clamp(9px, 1.5vw, 16px);
  font-family: "Orbitron", sans-serif;
  color: #324599;
  margin-left: 1.5em;
  margin-bottom: 1em;
}
.notrette-container .console-container .console .editor-container {
  position: relative;
  display: flex;
  font-size: clamp(13px, 2.2vw, 23px);
  line-height: 1.6em;
  font-family: "Inconsolata", monospace;
  width: 100%;
  height: calc(6.6em);
  margin-top: auto;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #324599 transparent;
  scrollbar-width: thin;
}
.notrette-container .console-container .console .editor-container .prompt {
  color: #324599;
  margin-right: 4px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.notrette-container .console-container .console .editor-container .editor {
  text-align: left;
  outline: none;
  letter-spacing: 0.05em;
  font-weight: 300;
  white-space: break-spaces;
  word-break: break-all;
  overflow-wrap: anywhere;
  line-break: normal;
  -webkit-line-break: normal;
  caret-color: transparent;
  padding-right: 1ch;
}
.notrette-container .console-container .console .editor-container .custom-caret {
  position: absolute;
  width: 1ch;
  height: 1.1em;
  background: rgba(128, 128, 128, 0.6);
  pointer-events: none;
  opacity: 0;
}
.notrette-container .console-container .console .editor-container .custom-caret.active {
  opacity: 1;
  animation: caretBreath 0.6s ease-in-out infinite;
}
@keyframes caretBreath {
  0% {
    background: rgba(120, 120, 120, 0.6);
  }
  50% {
    background: rgba(120, 120, 120, 0.2);
  }
  100% {
    background: rgba(120, 120, 120, 0.6);
  }
}
.notrette-container .console-container .output p {
  margin: 0;
}
.notrette-container .console-container .output.fail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: clamp(5px, 1vw, 15px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
}
.notrette-container .console-container .output.fail .fade-out {
  opacity: 0;
}
.notrette-container .console-container .output.fail p.error-txt {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(40px, 8vw, 100px);
  font-weight: 900;
  line-height: 1;
  font-family: "Orbitron", sans-serif;
  border-top: 1px solid #ef2d2a;
  border-bottom: 1px solid #ef2d2a;
  transition: opacity 0.2s ease;
  /* 实现error颜色渐变 */
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#ef2d2a 30%, #ba2320 70%);
}
.notrette-container .console-container .output.fail p.error-txt .bracket {
  color: #ef2d2a;
  font-weight: 500;
  font-size: 1.2em;
  /* 红小方块 */
}
.notrette-container .console-container .output.fail p.error-txt .bracket::before,
.notrette-container .console-container .output.fail p.error-txt .bracket::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ef2d2a;
}
.notrette-container .console-container .output.fail p.error-txt .bracket.left::before,
.notrette-container .console-container .output.fail p.error-txt .bracket.left::after {
  top: calc(-3.5px);
}
.notrette-container .console-container .output.fail p.error-txt .bracket.right::before,
.notrette-container .console-container .output.fail p.error-txt .bracket.right::after {
  bottom: calc(-3.5px);
}
.notrette-container .console-container .output.fail p.error-txt .bracket::before {
  left: 0px;
}
.notrette-container .console-container .output.fail p.error-txt .bracket::after {
  right: 0px;
}
.notrette-container .console-container .output.fail p:last-child {
  font-family: "Orbitron", sans-serif;
  color: #ffdc55;
  font-size: clamp(10px, 2vw, 25px);
  transition: opacity 0.6s ease;
}
.notrette-container .console-container .output.success {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: clamp(5px, 1vw, 15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.notrette-container .console-container .output.success p:first-child {
  font-size: clamp(9px, 2.6vw, 40px);
  font-weight: 500;
  font-family: "Orbitron", sans-serif;
  padding: clamp(6px, 0.4em, 10px) 0;
  /* 调整文字间距以对齐p长度 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notrette-container .console-container .output.success p:first-child.fade-in {
  position: relative;
  color: transparent;
  background: linear-gradient(to bottom, #2ea6f5 0 0) no-repeat;
  background-size: 100% 0%;
  background-clip: text;
  animation: textReveal 0.2s ease-in-out forwards;
}
.notrette-container .console-container .output.success p:first-child.fade-in::before,
.notrette-container .console-container .output.success p:first-child.fade-in::after {
  position: absolute;
  content: "";
  width: 100%;
  height: clamp(1.2px, 0.2vw, 1.8px);
  background: #6e79d7;
  transform: scaleX(0);
  animation: borderScale 0.2s ease-in-out forwards;
}
.notrette-container .console-container .output.success p:first-child.fade-in::before {
  top: 0;
  left: 0;
  transform-origin: left;
}
.notrette-container .console-container .output.success p:first-child.fade-in::after {
  bottom: 0;
  right: 0;
  transform-origin: right;
}
@keyframes textReveal {
  0% {
    background-size: 100% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@keyframes borderScale {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.notrette-container .console-container .output.success p:last-child {
  position: relative;
  top: clamp(15px, 2vw, 25px);
  font-size: clamp(7px, 1.4vw, 20px);
  color: #ffdc55;
  opacity: 0;
}
.notrette-container .console-container .output.success p:last-child.flash-twice {
  animation: flash 0.1s ease forwards 2;
}
@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.notrette-container .console-container .output.ending {
  position: absolute;
  top: -1.4em;
  bottom: -1.4em;
  left: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(9px, 2.6vw, 40px);
  font-weight: 500;
  font-family: "Orbitron", sans-serif;
  background-image: url("/src/images/console-ending.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0;
  transform: scale(0.8);
}
.notrette-container .console-container .output.ending.show {
  animation: fadeInScale 0.2s ease forwards;
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.notrette-container .console-container .output.ending p:first-child {
  color: transparent;
  background: linear-gradient(to bottom, #2ea6f5 0 0) no-repeat;
  background-size: 0% 100%;
  background-clip: text;
}
.notrette-container .console-container .output.ending p:first-child.replay {
  animation: endTextReveal 0.5s ease-in-out forwards;
}
@keyframes endTextReveal {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}
.notrette-container .console-container .hide {
  display: none !important;
}
.notrette-container .footnote {
  text-align: end;
  margin-top: 4em;
  font-size: clamp(9px, 1.5vw, 16px);
  font-family: "Orbitron", sans-serif;
}
