@import "global.less";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@125,200..900&family=Orbitron:wght@400..900&display=swap");

@thin-width: 1px;
@thick-width: clamp(1.2px, 0.2vw, 1.8px);
@thick-border-base: @thick-width solid;
@thin-border-base: @thin-width solid;
@big-square-size: clamp(4px, 0.7vw, 8px);
@small-square-size: 6px;
@console-padding: clamp(5px, 1vw, 15px);
@square-font: "Orbitron", sans-serif;
@rounded-font: "Inconsolata", monospace;
@success-font-size: clamp(9px, 2.6vw, 40px);
@success-blue: #2ea6f5;
@system-yellow: #ffdc55;
@error-red: #ef2d2a;
@error-gradient: linear-gradient(@error-red 30%, #ba2320 70%);

.notrette-container {
  h2 {
    background-color: @light;
    font-weight: normal;
    font-size: clamp(10px, 2.3vw, 20px);
    margin: 0 0 2em;

    .title {
      background-color: @white;
      padding: 0 12px;
      font-family: @square-font;
    }
  }

  .question-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    border-top: @thick-border-base @primary;
    border-left: @thin-border-base @primary;
    border-right: @thin-border-base @primary;

    /* 大方块 */
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: @big-square-size;
      height: @big-square-size;
      top: clamp(-13px, -1.2vw, -6px);
      background-color: @dark;
    }
    &::before {
      left: calc(@thin-width * -1); //和边框贴齐
    }
    &::after {
      right: calc(@thin-width * -1);
    }
  }

  .console-container {
    position: relative;
    margin: 0;
    padding: @console-padding;
    border: @thick-border-base @primary;

    .console {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;

      .label {
        font-size: clamp(9px, 1.5vw, 16px);
        font-family: @square-font;
        color: @dark;
        margin-left: 1.5em; //参考当前元素自身的字体大小
        margin-bottom: 1em;
      }

      .console-line {
        display: flex;
        font-size: clamp(13px, 2.2vw, 23px);
        line-height: 1.6em;
        font-family: @rounded-font;
        width: 100%;
        height: calc(1.6em * 4 + 0.2em); //装4行，多0.2em缓冲
        margin-top: auto; //贴底
        overflow-y: auto; //整个区域一起滚动
        scrollbar-color: @dark transparent;
        scrollbar-width: thin;

        .prompt {
          color: @dark;
          margin-right: 4px;
          /* 禁止选中 */
          user-select: none;
          -webkit-user-select: none; //Safari
          -ms-user-select: none; //IE 10+
        }

        .editor {
          text-align: left;
          outline: none; //去除focus时边框
          letter-spacing: 0.05em;
          font-weight: 300;
          white-space: break-spaces;
          word-break: break-all;
          overflow-wrap: anywhere;
          line-break: normal; //解决Safari行首空格异常换行
          -webkit-line-break: normal;
        }
      }
    }

    .output {
      p {
        margin: 0;
      }

      &.fail {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: @console-padding;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: @white;

        // 淡出
        .fade-out {
          opacity: 0;
        }

        p.error-txt {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: clamp(40px, 8vw, 100px);
          font-weight: 900;
          line-height: 1; //避免多余行高
          font-family: @square-font;
          border-top: @thin-border-base @error-red;
          border-bottom: @thin-border-base @error-red;
          transition: opacity 0.2s ease;
          /* 实现error颜色渐变 */
          color: transparent;
          background-clip: text;
          background-image: @error-gradient;

          .bracket {
            color: @error-red;
            font-weight: 500;
            font-size: 1.2em; //参照母元素的字体大小

            /* 红小方块 */
            &::before,
            &::after {
              position: absolute;
              content: "";
              width: @small-square-size;
              height: @small-square-size;
              background-color: @error-red;
            }
            &.left::before,
            &.left::after {
              top: calc((@small-square-size + @thin-width) / -2);
            }
            &.right::before,
            &.right::after {
              bottom: calc((@small-square-size + @thin-width) / -2);
            }
            &::before {
              left: 0px;
            }
            &::after {
              right: 0px;
            }
          }
        }

        p:last-child {
          font-family: @square-font;
          color: @system-yellow;
          font-size: clamp(10px, 2vw, 25px);
          transition: opacity 0.6s ease;
        }
      }

      &.success {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: @console-padding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);

        p:first-child {
          font-size: @success-font-size;
          font-weight: 500;
          font-family: @square-font;
          padding: clamp(6px, 0.4em, 10px) 0;
          /* 调整文字间距以对齐p长度 */
          display: flex;
          justify-content: space-between;
          align-items: center;

          // 淡入
          &.fade-in {
            position: relative;
            color: transparent;
            background: linear-gradient(to bottom, @success-blue 0 0) no-repeat; //一个纯色背景块
            background-size: 100% 0%; //100%宽度，0%高度
            background-clip: text;
            animation: textReveal 0.2s ease-in-out forwards;

            &::before,
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: @thick-width;
              background: @primary;
              transform: scaleX(0);
              animation: borderScale 0.2s ease-in-out forwards;
            }
            &::before {
              top: 0;
              left: 0;
              transform-origin: left;
            }
            &::after {
              bottom: 0;
              right: 0;
              transform-origin: right;
            }

            @keyframes textReveal {
              0% {
                background-size: 100% 0%;
              }
              100% {
                background-size: 100% 100%;
              }
            }

            @keyframes borderScale {
              0% {
                transform: scaleX(0);
              }
              100% {
                transform: scaleX(1);
              }
            }
          }
        }

        p:last-child {
          position: relative;
          top: clamp(15px, 2vw, 25px);
          font-size: clamp(7px, 1.4vw, 20px);
          color: @system-yellow;
          opacity: 0; //初始隐藏

          &.flash-twice {
            animation: flash 0.1s ease forwards 2; //每次0.1s，执行2次
          }
          @keyframes flash {
            0%,
            100% {
              opacity: 1;
            }
            50% {
              opacity: 0;
            }
          }
        }
      }

      &.ending {
        position: absolute;
        top: -1.4em;
        bottom: -1.4em;
        left: 5px;
        right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: @success-font-size;
        font-weight: 500;
        font-family: @square-font;
        background-image: url("@{images}/console-ending.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0; //初始隐藏
        transform: scale(0.8); //初始80%大小

        &.show {
          animation: fadeInScale 0.2s ease forwards;
        }
        @keyframes fadeInScale {
          0% {
            opacity: 0;
            transform: scale(0.8);
          }
          100% {
            opacity: 1;
            transform: scale(1);
          }
        }

        p:first-child {
          color: transparent;
          background: linear-gradient(to bottom, @success-blue 0 0) no-repeat;
          background-size: 0% 100%; //0%宽度，100%高度
          background-clip: text;

          &.replay {
            animation: endTextReveal 0.5s ease-in-out forwards;

            @keyframes endTextReveal {
              0% {
                background-size: 0% 100%;
              }
              100% {
                background-size: 100% 100%;
              }
            }
          }
        }
      }
    }

    .hide {
      display: none !important;
    }
  }

  .footnote {
    text-align: end;
    margin-top: 4em;
    font-size: clamp(9px, 1.5vw, 16px);
    font-family: @square-font;
  }
}
