@import "global.less";
@import "tablet.less";

@note-margin: clamp(6px, 1vw, 12px);

.omamori-container {
  h2 {
    color: @white;
    background: linear-gradient(to right, @primary, @light, @primary);
    padding: 10px 0;
    margin: 0;
    font-size: clamp(10px, 2vw, 25px);

    .bigger-h2 {
      font-size: clamp(16px, 3vw, 33px);
    }
  }

  p.normal-text {
    color: @dark;
    font-size: clamp(10px, 2vw, 25px);

    &.top-p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: clamp(35px, 8vw, 100px);
      transition: opacity 0.2s ease;
    }

    &.bottom-p {
      margin-top: clamp(5px, 1vw, 8px);
      margin-bottom: 2.5vw;
      transition: opacity 0.3s ease;
    }

    // 淡出
    &.fade-out {
      opacity: 0;
    }
  }

  .playBtn {
    position: relative;
    overflow: hidden;
    min-width: @icon-size-min;
    min-height: @icon-size-min;
    width: @icon-size;
    height: @icon-size;
    border: @icon-border-size solid @primary;
    border-radius: @icon-border-radius;
    background-color: @white;
    padding: @omamori-padding;
    cursor: pointer;

    .star {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #fadc7c;
      clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
      );
      z-index: 0;
      opacity: 0; /* 默认不可见 */
      transform: scale(5); /* 初始放大居中 */
      transition: transform 0.2s ease;

      // 缩小
      &.shrink {
        opacity: 1;
        transform: scale(1);
      }
    }

    .omamoriImage {
      position: relative;
      z-index: 1; // 在五角星上面
      transition: transform 0.2s ease;

      // 隐藏、挤压
      &.hidden {
        opacity: 0;
        transform: scaleX(0);
      }
    }
  }

  .marquee {
    overflow: hidden;
    white-space: nowrap;

    p {
      display: inline-block;
      font-size: clamp(6px, 0.8vw, 10px);
      color: @shadow;
      animation: slide 15s linear infinite;

      .note {
        margin-left: @note-margin;
        margin-right: @note-margin;
      }
    }

    @keyframes slide {
      0% {
        transform: translatex(0%);
      }

      100% {
        transform: translatex(-100%);
      }
    }
  }
}
