@font-face {
  font-family: "Seele-1";
  src: url("/public/fonts/Seele-One.otf") format("opentype");
}
@font-face {
  font-family: "Seele-2";
  src: url("/public/fonts/Seele-Two.otf") format("opentype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Seele-1", "Seele-2", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #6e79d7;
  background-image: url("/src/images/pattern.svg");
}
header {
  width: 100%;
  background-color: #6e79d7;
}
header a {
  text-decoration: none;
  color: #ffffff;
}
main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.content {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-style: solid;
  border-width: 4vw 5vw;
  border-image-source: url("/src/images/screen.svg");
  border-image-slice: 10% 7% fill;
}
footer {
  width: 100%;
  color: #6e79d7;
  background-color: #ffffff;
  padding: 20px;
}
.tablet-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-gap: 20px;
  gap: 20px;
}
.tablet-container a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.tablet-container a:hover .icon-container {
  background-color: #ffffff;
}
.tablet-container a:hover .icon-container svg {
  fill: #6e79d7;
}
.tablet-container a:hover .icon-container.omamori,
.tablet-container a:hover .icon-container.notrette {
  background-color: #6e79d7;
}
.tablet-container a:active .icon-container {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #ffffff;
}
.tablet-container a:active .icon-container svg {
  fill: #6e79d7;
}
.tablet-container a:active .icon-container.omamori,
.tablet-container a:active .icon-container.notrette {
  background-color: #6e79d7;
}
.tablet-container a.email {
  grid-column: 2;
  grid-row: 4;
}
.tablet-container a.gundarm {
  grid-column: 3;
  grid-row: 2;
}
.tablet-container a.profile {
  grid-column: 2;
  grid-row: 2;
}
.tablet-container a.game {
  grid-column: 1;
  grid-row: 4;
}
.tablet-container a.omamori {
  grid-column: 2;
  grid-row: 3;
}
.tablet-container a.notrette {
  grid-column: 1;
  grid-row: 1;
}
.tablet-container .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  padding: 7px;
  min-width: 58px;
  min-height: 58px;
  width: 8vw;
  height: 8vw;
  border-radius: 5px;
  border: 1.2px solid #6e79d7;
  background-color: #6e79d7;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
.tablet-container .icon-container img {
  max-width: 100%;
}
.tablet-container .icon-container svg {
  fill: #ffffff;
}
.tablet-container .icon-container.omamori {
  background-color: #ffffff;
  border: 1.2px solid #6e79d7;
  padding: 3px;
}
.tablet-container .icon-container.notrette {
  background-color: #ffffff;
  border: 1.2px solid #6e79d7;
}
.omamori-container h2 {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#6e79d7), color-stop(#919fe6), to(#6e79d7));
  background: linear-gradient(to right, #6e79d7, #919fe6, #6e79d7);
  padding: 10px 0;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .omamori-container h2 .bigger-h2 {
    font-size: 1.5em;
  }
}
.omamori-container p.normal-text {
  color: #324599;
}
.omamori-container .playBtn {
  min-width: 58px;
  min-height: 58px;
  width: 8vw;
  height: 8vw;
  border: 1.2px solid #6e79d7;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 3px;
  cursor: pointer;
}
.omamori-container .marquee {
  overflow: hidden;
  white-space: nowrap;
}
.omamori-container .marquee span {
  display: inline-block;
  white-space: pre;
  padding-right: 15px;
  font-size: 0.6em;
  color: #bfbad2;
  -webkit-animation: slide 15s linear infinite;
          animation: slide 15s linear infinite;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
  100% {
    -webkit-transform: translatex(-100%);
            transform: translatex(-100%);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
  100% {
    -webkit-transform: translatex(-100%);
            transform: translatex(-100%);
  }
}
