@import "global.less";

@icon-size-min: 50px;
@icon-size: 5vw;

.tablet-container {
  section {
    &.icon-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 7px;
      margin: 10px;
      min-width: @icon-size-min;
      min-height: @icon-size-min;
      width: @icon-size;
      height: @icon-size;
      border-radius: 5px;
      background-color: @primary;
    }

    &.keychain {
      background-color: @white;
      border: 1px solid @black;
      padding: 3px;
    }
  }
}
