@import "global.less";

@icon-size: 8vw;
@icon-size-min: 58px;
@grid-gap: 20px;
@icon-border-size: 1.2px;
@icon-border-radius: 5px;
@omamori-padding: 3px;

.tablet-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-gap: @grid-gap;
  gap: @grid-gap;

  a {
    width: fit-content;
    height: fit-content;

    // 被接触的icon，如悬浮、点击
    .touched-icon() {
      background-color: @white;
      svg {
        fill: @primary;
      }
      &.omamori,
      &.notrette {
        background-color: @primary;
      }
    }

    &:hover .icon-container {
      .touched-icon();
    }

    &:active .icon-container {
      transform: scale(1.2);
      .touched-icon();
    }

    &.email {
      grid-column: 2;
      grid-row: 4;
    }
    &.gundarm {
      grid-column: 3;
      grid-row: 2;
    }
    &.profile {
      grid-column: 2;
      grid-row: 2;
    }
    &.game {
      grid-column: 1;
      grid-row: 4;
    }
    &.omamori {
      grid-column: 2;
      grid-row: 3;
    }
    &.notrette {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .icon-container {
    display: flex;
    place-items: center;
    padding: 7px;
    min-width: @icon-size-min;
    min-height: @icon-size-min;
    width: @icon-size;
    height: @icon-size;
    border-radius: @icon-border-radius;
    border: @icon-border-size solid @primary;
    background-color: @primary;
    transition: transform 0.1s ease-out;
    img {
      max-width: 100%;
    }
    svg {
      fill: @white;
    }

    // 直接放图片的icon
    .special-icon() {
      background-color: @white;
      border: @icon-border-size solid @primary;
    }

    &.omamori {
      .special-icon();
      padding: @omamori-padding;
    }

    &.notrette {
      .special-icon();
    }
  }
}
