@import "global.less";

@icon-size: 5vw;
@icon-size-min: 50px;
@grid-gap: 20px;
@icon-border-size: 1.2px;

.tablet-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-gap: @grid-gap;
  gap: @grid-gap;

  a {
    width: fit-content;
    height: fit-content;

    &.email {
      grid-column: 2;
      grid-row: 4;
    }

    &.gundarm {
      grid-column: 3;
      grid-row: 2;
    }

    &.profile {
      grid-column: 2;
      grid-row: 2;
    }

    &.game {
      grid-column: 1;
      grid-row: 4;
    }

    &.omamori {
      grid-column: 2;
      grid-row: 3;
    }

    &.notrette {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .icon-container {
    display: flex;
    place-items: center;
    padding: 7px;
    min-width: @icon-size-min;
    min-height: @icon-size-min;
    width: @icon-size;
    height: @icon-size;
    border-radius: 5px;
    border: @icon-border-size solid @primary;
    background-color: @primary;
    transition: transform 0.1s ease;
    img {
      max-width: 100%;
    }
    svg {
      fill: @white;
    }

    .special-icon() {
      background-color: @white;
      border: @icon-border-size solid @black;
    }

    &.omamori {
      .special-icon();
      padding: 3px;
    }

    &.notrette {
      .special-icon();
    }
  }

  .touched-icon() {
    background-color: @white;
    border: @icon-border-size solid @primary;
    svg {
      fill: @primary;
    }
  }

  .icon-container:hover {
    .touched-icon();
  }

  .icon-container:active {
    transform: scale(1.2);
    .touched-icon();
  }
}
