---
import BaseLayout from '../layouts/BaseLayout.astro';
import Widget from '../components/Widget.astro';
import roomImage from '../images/room.png';
import liveImage from '../images/live.svg';
import tabletImage from '../images/tablet.png';
import aboutImage from '../images/about.png';
import '../styles/index.css';
---
<BaseLayout>
  <div class="content room-container">
    <img
      class="room-background"
      src={roomImage.src}
      alt="在米奥莉奈的房间里，斯莱塔跪在地上，和坐着讲话的米奥莉奈面对面"
    />
    <img
      class="live-streaming"
      src={liveImage.src}
      alt="米奥莉奈的房间现场直播"
    />
    <Widget title="Tablet" imgSrc={tabletImage.src} imgAlt="平板" itemName="tablet" />
    <Widget title="About Us" imgSrc={aboutImage.src}  imgAlt="关于我们" itemName="about" />
  </div>
</BaseLayout>
