---
import NavItem from './NavItem.astro';
---
<nav>
  <ul>
    <NavItem title="Photos" commonName="photos" />
    <NavItem title="Goods" commonName="goods" />
    <NavItem title="Tablet" commonName="tablet" />
    <NavItem title="Books" commonName="books" />
    <NavItem title="About Us" commonName="about" />
  </ul>
</nav>