---
import BaseLayout from "../../layouts/BaseLayout.astro";
import '../../styles/gundarm.css';
---
<BaseLayout>
  <div class="content gundarm-container">
    <div class="video-container">
      <video class="promotion-video" controls>
        <!-- x视频直链 -->
        <!-- 跳过前0.001s，以显示缩略图（WebKit does not preload media data on iOS to avoid using unnecessary bandwidth） -->
        <source
          src="https://video.twimg.com/ext_tw_video/1596777004615233536/pu/vid/1280x720/d5_zercPbbJgYqF0.mp4?tag=12#t=0.001"
          type="video/mp4">
      </video>
      </div>
  </div>
</BaseLayout>
