---
import BaseLayout from "../../layouts/BaseLayout.astro";
import '../../styles/gundarm.css';
---
<BaseLayout>
  <div class="content gundarm-container">
    <div class="video-container">
      <video class="promotion-video" controls>
        <source
          src="https://video.twimg.com/ext_tw_video/1596777004615233536/pu/vid/1280x720/d5_zercPbbJgYqF0.mp4?tag=12"
          type="video/mp4">
      </video>
      </div>
  </div>
</BaseLayout>
