---
import BaseLayout from "../../layouts/BaseLayout.astro";
import '../../styles/gundarm.css';
---
<BaseLayout>
  <div class="content gundarm-container">
    <div class="video-container">
      <!-- 循环播放/字幕OFF/关联视频仅限同一频道/白色进度条 -->
      <iframe
        class="promotion-video"
        src="https://www.youtube-nocookie.com/embed/rLr_ZFXQq4Q?loop=1&cc_load_policy=0&rel=0&color=white&playlist=rLr_ZFXQq4Q"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</BaseLayout>
